@font-face {
    font-family: Mittelschrift;
    src: url("din1451alt.ttf");
}

.logo {
  	-fx-image: url("images/logo.png");
}

.phases {
	-fx-alignment: center;
	-fx-hgap: 5;
}

.phase {
	-fx-background-color: white, linear-gradient(to right, darkgray, gray, darkgray);
    -fx-background-radius: 5;
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-padding: 12.0 30.0 12.0 30.0;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: 'Mittelschrift';
}

.counter {
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-padding: 12.0 30.0 12.0 30.0;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: 'Mittelschrift';
}

.main-pane {
	-fx-background: black;
	-fx-padding: 15.0;
}

.buttons{
	-fx-alignment: center;
	-fx-orientation: vertical;
	-fx-column-halignment: center;
	-fx-vgap: 5;
}
.rich-blue {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-background-radius: 3.0,2.0,2.0,2.0;
    -fx-padding: 12.0 30.0 12.0 30.0;
    -fx-text-fill: white;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-font-family: 'Mittelschrift';
}

.rich-blue:hover, .rich-blue:pressed {
    -fx-background-color:
        linear-gradient(#395cab, #223768),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#7ebcea, #2f4b8f);
}

.rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.8) , 0.0, 0.0 , 0.0 , 1.0);
}