@font-face {
    font-family: Mittelschrift;
    src: url("din1451alt.ttf");
}

.logo {
  	-fx-image: url("images/logo.png");
}


.pane {
	-fx-background: black;
	-fx-padding: 15;
}
.buttons{
	-fx-spacing: 5;
	-fx-alignment: center;
	-fx-fill-width: true;
}

.buttons Button {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: 'Mittelschrift';
}

.buttons Button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}